body {
    margin: 0px;
    padding: 0px;
    background-color: #F3F3F9;
    display: flex;
    flex-direction: column;
    font-family: 'poppins';
    font-size: 28px;
    font-weight: normal;
}

.body {
    display: flex;
    background-color: #f2f2f2;
    height: 100%;

}


/* ALEN: SIDEBAR */
.sidebar {
    background-color: #3d4d82;
    ;
    transition: width 0.9s ease;
    color: rgb(243, 243, 243);
    font-size: medium;
    line-height: 30px;

}

.sidebar-mobile {
    width: 60px;
}

.sidebar-desktop {
    width: 180px;

}

.sidebar ul>*:hover {
    background-color: #535C91;
}

.sidebar ul>li {

    list-style-type: none;
    padding: 0;
    margin: 0;
}

.active-tab {
    background-color: #FF204E;
    font-weight: bold;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

a {
    width: 100%;
    color: whitesmoke;
    text-decoration: none;
}

.sidebar ul>li {
    padding-left: 20px;
    /* background-color: red; */
}

.inner-body {
    height: 100%;
}
/* ---------------------------------------- */
.content {
    padding: 30px;
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
}



/* Card Style */
.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 20px 1px #9f9f9f66;
    width: 20%;
    height: 100px;

}

.card:hover {

    box-shadow: 0px 0px 20px 1px #9f9f9fad;

}

.card-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.lite-dim {
    font-weight: 500;
    font-size: small;
    color: #535C91;
}

.underline {
    text-decoration: underline;
}

.bg-green {
    background-color: #6effc5;
    color: #00b96f;
}

.bg-red {
    background-color: #ff6e6e;
    color: #b90000;
}

.bg-yellow {
    background-color: #ffee6e;
    color: #b9b300;
}

.bg-blue {
    background-color: #6e8bff;
    color: #002eb9;
}

.icon-cover {
    padding: 5px 8px 5px 8px;
    border-radius: 10px;
}

.card-grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* ----------------TABLE--------------------------- */
table {
    font-size: large;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #d4d4d4;

}

th {
    font-size: large;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #295fff;
    padding: 10px;

}

td {
    text-align: center;
}

.table-wrapper {
    margin-top: 10px;
    height: 75vh;
    overflow: scroll;
}

.operation-btn {
    cursor: pointer;
}

/* Pagination */
.pagination-btn {
    border: none;
    background-color: darkgray;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.active-page {
    background-color: #295fff;
}

.table-option{
    color: black;
    background-color: rgb(218, 218, 218);
    border:none;
    font-size: small;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.table-option:hover{
    
}



/* -----------------------------------------Modal---------------------------------------------- */
#modal-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #001f8494;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.btn{
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.btn-green{
    background-color: cadetblue;
}

.btn-red{
    background-color: #FF204E;
}