.search-field{
    border: 1px solid rgb(97, 97, 97);
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-field-inp
{
    border: black;
    outline: black;
    height: 50%;
    width: 80%;
    font-size: large;
}

#search-field-inp:active{
    outline: black;
    border: black;
}
#search-field-inp:focus{
    outline: none;
    border: none;

}

.fa-search{
    cursor: pointer;
    
}