.profile-img{
    height: 25vh;
    border-radius: 100%;
}

.inner-mid-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.name-placeholder{
    font-size: x-large;
    position:relative;
}

#profile-img-holder:hover #overlay-button{
    background-color: rebeccapurple;
    position: absolute;
    top: 50%;
    left: 50%;
    
}